:root{
  --pink: #F8DCE6;
  --accent: #e5b7c9;
  --text: #222;
  --muted: #555;
  --white: #fff;
}

*{box-sizing: border-box}
html,body{height:100%;margin:0;font-family:Inter,system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial;}
body{background:var(--pink); color:var(--text); overflow-x:hidden;}


/* left side menu */
.left-menu{
  width: 220px;
  height: 100%;
  background: linear-gradient(180deg,var(--white),#fff);
  padding: 24px;
  box-shadow: 2px 0 18px rgba(0,0,0,0.06);
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: flex-start;
  color: var(--muted);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.store{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

span{
    font-size: 22px;
    margin-top: 15px;
    display: block;
    line-height: 2;
}


.main-section{flex:1;display:flex;flex-direction:column; margin-left: 220px; padding: 10px;}


/* hero img */
.hero{
  display:flex;
  justify-content: left;
  align-items:flex-end;
}

.hero-image{
  width:100%;
  max-width: 900px;
  display:flex;
  justify-content:left;
}

.hero-image img{
  width:100%;
  height:auto;
  max-height: 450px;
  object-fit:cover;
  border-radius: 0;
  box-shadow: none;
  margin: 20px 0 0 10px;
}


/* pannel */
.panel{
    width: 100%;
    max-width: 1900px;
    height: auto;
    background: var(--white);
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.tab{
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    font-weight: 650;
    font-size: 14px;
}

.tab.active{
    color: var(--text);
    background-color: var(--accent);
    opacity: 0.799;
    border-radius: 5px;
    padding: 14px;
}

.hidden{
    display: none;
}